<div class="container m-4">

    <table class="table table-striped">
        <thead>
            <tr class="text-center">
                <th scope="col">#</th>
                <th scope="col">Nombre del Platillo</th>
                <th scope="col">Precio</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" *ngFor="let food_item of food_items; index as index">
                <td>{{food_item.id}}</td>
                <td>{{food_item.nombre}}</td>
                <td>{{food_item.precio}}</td>
                <td>
                    <button class="btn btn-outline-info" id="{{food_item.id}}" data-toggle="modal" data-target="#exampleModal">Ver Detalles</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>