<!-- LOGIN CONTAINER -->
<div
    class="container col-xl-8 col-lg-8 col-md-8 col-sm-10 d-flex justify-content-center align-items-center login-container">

    <div class="card">

        <h5 class="card-header card-header-container pt-4">

            <img class="img-logo mx-2 mb-2" src="./../../../assets/img/icons/logo_chef.png" alt="Logotipo FoodPedidos">

            <div class="col-sm-12 mb-2">
                <span class="txt_food">Food</span>
                <span class="txt_pedidos">Pedidos</span>
            </div>
        </h5>

        <!--Card content-->
        <div class="card-body px-lg-5">

            <!-- Form -->
            <form class="text-center" style="color: #757575;" *ngIf="mostrar" [formGroup]="registerForm" (ngSubmit)="onRegister()">

                <!-- Name(s) -->
                <div class="md-form">
                    <input type="text" id="name" class="form-control" formControlName="name">
                    <label for="name">Nombre(s)</label>
                </div>

                <!-- Last Name -->
                <div class="md-form">
                    <input type="text" id="lastname" class="form-control" formControlName="lastname">
                    <label for="lastname">Apellidos</label>
                </div>

                <!-- Email -->
                <div class="md-form">
                    <input type="email" id="email" class="form-control" formControlName="email">
                    <label for="email">Correo Electrónico</label>
                </div>

                <!-- Phone Number -->
                <div class="md-form mb-4">
                    <input type="text" id="number_phone" class="form-control" formControlName="number_phone">
                    <label for="number_phone">Número Telefónico </label>
                </div>

                <!-- Password -->
                <div class="md-form">
                    <input type="password" id="password" class="form-control" formControlName="password">
                    <label for="password">Contraseña</label>
                </div>

                <!-- Confirm Password -->
                <div class="md-form">
                    <input type="password" id="confirm_password" class="form-control" formControlName="confirm_password">
                    <label for="confirm_password">Confirmar Contraseña</label>
                </div>

                <!-- Next button -->
                <button class="btn btn-rounded btn-block my-4 waves-effect z-depth-0 btn-outline-warning" 
                type="submit ">Siguiente</button>
                
                <!-- Cancel button-->
                <button class="btn btn-rounded btn-block my-4 waves-effect z-depth-0 btn-outline-warning" (click)="mostrar=!mostrar" 
                type="button" [routerLink]="['/login']">Cancelar</button> 

            </form>
            <!-- Form -->
        </div>
    </div>
</div>
<!-- LOGIN CONTAINER -->