<!-- LOGIN CONTAINER -->
<div class="container col-lg-4 col-md-8 col-sm-10 d-flex justify-content-center align-items-center login-container">

    <div class="card">

        <h5 class="card-header card-header-container d-flex align-items-center py-4">
            <img class="img-logo mx-2" src="./../../assets/img/icons/logo_chef.png" alt="Logotipo FoodPedidos">
            <div class="col-sm-12">
                <span class="txt_food">Food</span>
                <span class="txt_pedidos">Pedidos</span>
            </div>
        </h5>

        <!--Card content-->
        <div class="card-body px-lg-5 pt-0">

            <!-- Form -->
            <form class="text-center" style="color: #757575;" action="#!">

                <!-- Email -->
                <div class="md-form">
                    <input type="email" id="materialLoginFormEmail" class="form-control">
                    <label for="materialLoginFormEmail">Correo Electrónico</label>
                </div>

                <!-- Password -->
                <div class="md-form">
                    <input type="password" id="materialLoginFormPassword" class="form-control">
                    <label for="materialLoginFormPassword">Contraseña</label>
                </div>

                <!-- CONTAINER FORGOTTEN PASSWORD -->
                <div class="d-flex justify-content-end">
                    <!-- Forgot password -->
                    <div>
                        <a href="">¿Olvido su contraseña?</a>
                    </div>
                </div>

                <!-- Sign in button -->
                <button class="btn btn-rounded btn-block my-4 waves-effect z-depth-0 btn-outline-warning"
                    (click)="mostrar=!mostrar" type="button">
                    Iniciar Sesión
                </button>
                <span class="text-muted" *ngIf="mostrar">¡Le dio click a iniciar Sesion!</span>

                <!-- Register -->
                <p>¿No tienes una cuenta?
                    <a href="">Registrate aquí</a>
                </p>

                <!-- Social login -->
                <p>o inicia sesión con:</p>

                <a type="button" class="btn-floating btn-fb btn-sm">
                    <i class="fab fa-facebook-f"></i>
                </a>

                <a type="button" class="btn-floating btn-gplus btn-sm">
                    <i class="fab fa-google"></i>
                </a>

                <!-- Register -->
                <p class="mt-2">
                    <a href="">
                        ¿Te gustaría vender con nosotros?
                    </a>
                </p>

            </form>
            <!-- Form -->

        </div>

    </div>
</div>
<!-- LOGIN CONTAINER -->