<!-- LOGIN CONTAINER -->
<div
    class="container col-xl-8 col-lg-8 col-md-8 col-sm-10 d-flex justify-content-center align-items-center login-container">

    <div class="card">

        <h5 class="card-header card-header-container pt-4">

            <img class="img-logo mx-2 mb-2" src="./../../assets/img/icons/logo_chef.png" alt="Logotipo FoodPedidos">

            <div class="col-sm-12 mb-2">
                <span class="txt_food">Food</span>
                <span class="txt_pedidos">Pedidos</span>
            </div>
        </h5>

        <!--Card content-->
        <div class="card-body px-lg-5">

            <!-- Form -->
            <form class="text-center" style="color: #757575;" *ngIf="mostrar">

                <!-- Password -->
                <div class="md-form">
                    <input type="password" id="materialLoginFormPassword" class="form-control">
                    <label for="materialLoginFormPassword">Contraseña</label>
                </div>

                <!-- Confirm Password -->
                <div class="md-form">
                    <input type="password" id="materialLoginFormConfirmPassword" class="form-control">
                    <label for="materialLoginFormConfirmPassword">Confirmar Contraseña</label>
                </div>

                <!-- Next button -->
                <button class="btn btn-rounded btn-block my-4 waves-effect z-depth-0 btn-outline-warning" 
                type="button">Siguiente</button>
                
                <!-- Cancel button-->
                <button class="btn btn-rounded btn-block my-4 waves-effect z-depth-0 btn-outline-warning" (click)="mostrar=!mostrar" 
                type="button" [routerLink]="['/login']">Cancelar</button> 

            </form>
            <!-- Form -->
        </div>
    </div>
</div>
<!-- LOGIN CONTAINER -->