<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

  <a class="nav-item text-warning navbar-brand">FoodPedidos</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <!--<ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Inicio</a>
      </li>

      <li class="nav-item">
          <a class="nav-link" routerLink="/cart">Carrito</a>
      </li>

      <li class="nav-item">
          <a class="nav-link" routerLink="/favorites">Favoritos</a>
      </li>

      <li class="nav-item">
          <a class="nav-link" routerLink="/notifications">Notificaciones</a>
      </li>
    </ul>-->

    <ul class="navbar-nav" *ngIf="user$ | async as user; else login">
      <li class="nav-item" *ngIf="user">
        <a class="nav-link" (click)="onLogout()">Cerrar Sesión</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">{{ user?.email }}</a>
      </li>
    </ul>

    <ng-template #login>
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="!user">
          <a class="nav-link" routerLink="/login">Iniciar Sesion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Registrate</a>
        </li>
      </ul>
    </ng-template>
  </div>
</nav>