<app-navigation-menu></app-navigation-menu>

<div class="card mt-5">
    <div class="card-body">
        <h3 class="card-title text-center">Por favor introduce tu correo electrónico</h3>
        <div class="form-group">
            <input type="email" class="form-control" [formControl]="userEmail" required>
        </div>
        <div class="form-group text-center">
            <button class="btn btn-primary btn-lg" (click)="onReset()">Solicitar el restablecimiento de la contraseña</button>
        </div>
    </div>
</div>